.sliderV {
  width: 1024px;
  height: 768px;
  position: relative;
  overflow: hidden;
  &__title {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    @include font(50px);
    font-family: $GothamPro;
    margin-bottom: 15px;
  }
  &__title--1 {
    width: 740px;
    margin-left: 70px;
  }
  &__title--2 {
    width: 468px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
  }
  &__slide {
    width: 1024px;
    height: 768px;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
  }
  &__slide--1 {
    background: #163AB2 url('../img/slideV1@1x.jpg') 50% 50% no-repeat;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #163AB2 url('../img/slideV1@2x.jpg') 50% 50% no-repeat;
      background-size: 1024px 768px;
    }
    padding-top: 154px;
    box-sizing: border-box;
  }
  &__slide--2 {
    background: #163AB2 url('../img/slideV2@1x.jpg') 50% 50% no-repeat;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #163AB2 url('../img/slideV2@2x.jpg') 50% 50% no-repeat;
      background-size: 1024px 768px;
    }
    padding-top: 256px;
  }
  &__slide--3 {
    background: #163AB2;
  }
  &__slide--active {
    visibility: visible;
    position: relative;
  }
  &__controls {
    width: 14px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
  }
  &__control {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
  }
  &__control:not(:last-child){
    margin-bottom: 7px;
  }
  &__control--active {
    background-color: #f78b1f;
  }
  &__slide--leave_down {
    transform: translateY(-100%);
    transition: all $delay;
    position: relative;
  }
  &__slide--enter_down {
    transform: translateY(-100%);
    transition: all $delay;
    position: relative;
  }
  &__slide--enter_up {
    visibility: visible;
  }
  &__slide--leave_up {
    transform: translateY(100%);
    transition: all $delay;
    position: relative;
  }
  &__sun-down {
    width: 100%;
    height: 85px;
    box-sizing: border-box;
    padding-top: 17px;
    padding-left: 40px;
    bottom: 0;
    position: absolute;
    background: transparent url('../img/sun@2x.png') 0% 100% no-repeat;
    background-size: cover;
    z-index: 1000;
    text-align: center;
  }
  &__sun-text {
    display: inline-block;
    vertical-align: top;
    @include font(15px);
    color: #fff;
    font-family: $GothamPro;
    position: relative;
  }
  &__sun-text::before,
  &__sun-text::after
  {
    content: '';
    display: block;
    position: absolute;
    height: 8px;
    width: 30px;
    background: linear-gradient(#fff 2px, transparent 2px);
    top: 38px;
  }
  &__sun-text::before {
    transform: rotate(135deg);
    left: 43px;
  }
  &__sun-text::after {
    right: 43px;
    transform: rotate(-135deg);
  }
}
