.sliderH {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  &__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }
  &__slide--1 {
    background: #0c1444 url('../img/slideV3H1@1x.jpg') 50% 50% no-repeat;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #163AB2 url('../img/slideV3H1@2x.jpg') 50% 50% no-repeat;
      background-size: 1024px 768px;
    }
  }
  &__slide--2 {
    background: #0c1444 url('../img/slideV3H2@1x.jpg') 50% 50% no-repeat;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #163AB2 url('../img/slideV3H2@2x.jpg') 50% 50% no-repeat;
      background-size: 1024px 768px;
    }
  }
  &__slide--3 {
    background: #0c1444 url('../img/slideV3H3@1x.jpg') 50% 50% no-repeat;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #163AB2 url('../img/slideV3H3@2x.jpg') 50% 50% no-repeat;
      background-size: 1024px 768px;
    }
  }
  &__range {
    position: absolute;
    bottom: 75px;
    left: 180px;
    width: 640px;
    height: 11px;
    z-index: 100;
    -webkit-appearance: none;
  }
  &__range:focus {
    outline: none;
  }
  &__range::-webkit-slider-thumb {
    margin-top: -14px;
    -webkit-appearance: none;
    height: 56px;
    width: 44px;
    background: url('../img/thumb@1x.png');
    cursor: pointer;
  }
  &__range::-moz-range-thumb {
    height: 56px;
    width: 44px;
    background: url('../img/thumb.png');
    cursor: pointer;
  }
  &__range::-ms-thumb {
    height: 56px;
    width: 44px;
    background: url('../img/thumb.png');
    cursor: pointer;
  }
  // полоса диапозона
  &__range::-webkit-slider-runnable-track {
    height: 11px;
    width: 640px;
    cursor: pointer;
    background: #8898a6;
  }
  &__range::-moz-range-track {
    height: 11px;
    width: 640px;
    cursor: pointer;
    background: #8898a6;
  }
  &__range::-ms-track {
    height: 11px;
    width: 640px;
    cursor: pointer;
    background: #8898a6;
  }
  &__range::-ms-fill-lower {
    background: #8898a6;
  }
  &__range::-ms-fill-upper {
    background: #8898a6
  }
}

