@font-face {
  font-family: 'GothamPro';
  src: local('GothamPro'),
  url('../fonts/GothamPro-Light.woff') format('woff'),
  url('../fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
